[submodule "congress-legislators"]
	path = congress-legislators
	url = git://github.com/unitedstates/congress-legislators
[submodule "govstat"]
	path = govstat
	url = git@github.com:stevesdawg/govstat.git
