h1 {
    margin: 10px;
}

a {
    margin: 20px;
}

button {
    margin: 20px;
}

div.three-panel {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

div.elections {
    background-color: #ff7a88;
}

div.votes {
    background-color: #fffcf9;
}

div.bills {
    background-color: #b1d5e8;
}

nav {
    background-color: #b1ede8;
}

footer {
    background-color: #6d435a;
}
